In [2]:
# %%
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
%matplotlib inline
# %%
datap = Path('../Data')  # set the data path
dfdiv = pd.read_csv(datap/"diversityindex.csv")

In [3]:
# create State and County columns from generic Location column
dfdiv[['County', 'State']] = pd.DataFrame(dfdiv['Location'].str.split(', ').tolist())
dfdiv = dfdiv.drop(columns='Location')

# reorder the columns
cols = dfdiv.columns.tolist()
cols = cols[-1:] + cols[-2:-1] + cols[:-2]
dfdiv = dfdiv[cols]

# Display the df
display(dfdiv.head(3)) 
display(dfdiv.info())
display(dfdiv.describe().T)

,State,County,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,AK,Aleutians West Census Area,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,NY,Queens County,0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,HI,Maui County,0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 10 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   State                                                       3143 non-null   object
 1   County                                                      3195 non-null   object
 2   Diversity-Index                                             3195 non-null   float64
 3   Black or African American alone, percent, 2013              3195 non-null   float64
 4   American Indian and Alaska Native alone, percent, 2013      3195 non-null   float64
 5   Asian alone, percent, 2013                                  3195 non-null   float64
 6   Native Hawaiian and Other Pacific Islander alone, percent,  3195 non-null   float64
 7   Two or More Races, percent, 2013                            3195 non-null   float64
 8   Hispanic or Latino, percent, 2013                           3195 non-null   float64
 9   White alone, not Hispanic or Latino, percent, 2013          3195 non-null   float64
dtypes: float64(8), object(2)
memory usage: 249.7+ KB

None

,count,mean,std,min,25%,50%,75%,max
Diversity-Index,3195.0,0.300830,0.182398,0.021816,0.127891,0.269659,0.47347,0.769346
"Black or African American alone, percent, 2013",3195.0,9.219750,14.396279,0.000000,0.700000,2.400000,10.90000,85.300000
"American Indian and Alaska Native alone, percent, 2013",3195.0,2.226510,7.565747,0.000000,0.300000,0.600000,1.20000,92.900000
"Asian alone, percent, 2013",3195.0,1.388795,2.754904,0.000000,0.400000,0.600000,1.30000,42.600000
"Native Hawaiian and Other Pacific Islander alone, percent,",3195.0,0.121221,0.952672,0.000000,0.000000,0.100000,0.10000,47.800000
"Two or More Races, percent, 2013",3195.0,1.871643,1.545157,0.000000,1.100000,1.500000,2.10000,29.500000
"Hispanic or Latino, percent, 2013",3195.0,8.879750,13.352662,0.200000,2.000000,3.800000,9.10000,95.700000
"White alone, not Hispanic or Latino, percent, 2013",3195.0,77.272488,19.824260,3.200000,65.800000,84.600000,93.30000,98.900000

In [4]:
dfoff = pd.read_excel(datap/"Table_8_Offenses_Known_to_Law_Enforcement_by_State_by_Metropolitan_and_Nonmetropolitan_Counties_2016.xls", \
    skiprows=4)

# clean the labels
cols = list(dfoff.columns)
cols = [label.replace('\n', '_') for label in cols]
dfoff.columns = cols

# fill forward the state column as it was originally a multiindex and 
# had NaNs after import
dfoff['State'].fillna(method='ffill', inplace=True)

# drop the last 9 rows which were apparently a footer
dfoff = dfoff.iloc[:-9]

# Display the df of known offenses
display(dfoff.head(3)) 
display(dfoff.info())
display(dfoff.describe().T)

,State,County,Violent_crime,Murder and_nonnegligent_manslaughter,Rape_(revised_definition)1,Rape_(legacy_definition)2,Robbery,Aggravated_assault,Property_crime,Burglary,Larceny-_theft,Motor_vehicle_theft,Arson3
0,ALABAMA - Metropolitan Counties,Autauga,73.0,1.0,12.0,NaN,8.0,52.0,429.0,146.0,233.0,50.0,NaN
1,ALABAMA - Metropolitan Counties,Baldwin,127.0,1.0,5.0,NaN,23.0,98.0,613.0,229.0,342.0,42.0,NaN
2,ALABAMA - Metropolitan Counties,Bibb,0.0,0.0,0.0,NaN,0.0,0.0,37.0,20.0,14.0,3.0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2621 entries, 0 to 2620
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   State                                 2621 non-null   object
 1   County                                2612 non-null   object
 2   Violent_crime                         2610 non-null   float64
 3   Murder and_nonnegligent_manslaughter  2612 non-null   float64
 4   Rape_(revised_definition)1            2276 non-null   float64
 5   Rape_(legacy_definition)2             335 non-null    float64
 6   Robbery                               2612 non-null   float64
 7   Aggravated_assault                    2611 non-null   float64
 8   Property_crime                        2598 non-null   float64
 9   Burglary                              2602 non-null   float64
 10  Larceny-_theft                        2609 non-null   float64
 11  Motor_vehicle_theft                   2610 non-null   float64
 12  Arson3                                2497 non-null   float64
dtypes: float64(11), object(2)
memory usage: 266.3+ KB

None

,count,mean,std,min,25%,50%,75%,max
Violent_crime,2610.0,84.934100,343.189771,0.0,5.0,19.0,56.0,8854.0
Murder and_nonnegligent_manslaughter,2612.0,1.265697,4.893567,0.0,0.0,0.0,1.0,94.0
Rape_(revised_definition)1,2276.0,10.226714,29.212003,0.0,0.0,3.0,9.0,537.0
Rape_(legacy_definition)2,335.0,6.871642,16.962399,0.0,0.0,3.0,7.0,162.0
Robbery,2612.0,14.078867,99.094475,0.0,0.0,1.0,4.0,3044.0
Aggravated_assault,2611.0,59.794332,221.547003,0.0,4.0,14.0,42.0,5181.0
Property_crime,2598.0,548.147036,1927.669957,0.0,45.0,140.0,372.0,45228.0
Burglary,2602.0,135.319370,386.059692,0.0,13.0,42.0,115.0,9162.0
Larceny-_theft,2609.0,364.490609,1365.058087,0.0,26.0,82.0,231.0,29962.0
Motor_vehicle_theft,2610.0,47.947893,223.335308,0.0,3.0,9.0,28.0,6104.0
Arson3,2497.0,3.404485,13.445395,0.0,0.0,1.0,2.0,292.0

In [8]:
dfoff.State.unique()

array(['ALABAMA - Metropolitan Counties',
       'ALABAMA - Nonmetropolitan Counties',
       'ARIZONA - Metropolitan Counties',
       'ARIZONA - Nonmetropolitan Counties',
       'ARKANSAS - Metropolitan Counties',
       'ARKANSAS - Nonmetropolitan Counties',
       'CALIFORNIA - Metropolitan Counties',
       'CALIFORNIA - Nonmetropolitan Counties',
       'COLORADO - Metropolitan Counties',
       'COLORADO - Nonmetropolitan Counties',
       'DELAWARE - Metropolitan Counties',
       'FLORIDA - Metropolitan Counties',
       'FLORIDA - Nonmetropolitan Counties',
       'GEORGIA - Metropolitan Counties',
       'GEORGIA - Nonmetropolitan Counties',
       'HAWAII - Metropolitan Counties',
       'HAWAII - Nonmetropolitan Counties',
       'IDAHO - Metropolitan Counties',
       'IDAHO - Nonmetropolitan Counties',
       'ILLINOIS - Metropolitan Counties',
       'ILLINOIS - Nonmetropolitan Counties',
       'INDIANA - Metropolitan Counties',
       'INDIANA - Nonmetropolitan Counties',
       'IOWA - Metropolitan Counties', 'IOWA - Nonmetropolitan Counties',
       'KANSAS - Metropolitan Counties',
       'KANSAS - Nonmetropolitan Counties',
       'KENTUCKY - Metropolitan Counties',
       'KENTUCKY - Nonmetropolitan Counties',
       'LOUISIANA - Metropolitan Counties',
       'LOUISIANA - Nonmetropolitan Counties',
       'MAINE - Metropolitan Counties',
       'MAINE - Nonmetropolitan Counties',
       'MARYLAND - Metropolitan Counties',
       'MARYLAND - Nonmetropolitan Counties',
       'MICHIGAN - Metropolitan Counties',
       'MICHIGAN - Nonmetropolitan Counties',
       'MINNESOTA - Metropolitan Counties',
       'MINNESOTA - Nonmetropolitan Counties',
       'MISSISSIPPI - Metropolitan Counties',
       'MISSISSIPPI - Nonmetropolitan Counties',
       'MISSOURI - Metropolitan Counties',
       'MISSOURI - Nonmetropolitan Counties',
       'MONTANA - Metropolitan Counties',
       'MONTANA - Nonmetropolitan Counties',
       'NEBRASKA - Metropolitan Counties',
       'NEBRASKA - Nonmetropolitan Counties',
       'NEVADA - Metropolitan Counties',
       'NEVADA - Nonmetropolitan Counties',
       'NEW HAMPSHIRE - Metropolitan Counties',
       'NEW HAMPSHIRE - Nonmetropolitan Counties',
       'NEW JERSEY - Metropolitan Counties',
       'NEW MEXICO - Metropolitan Counties',
       'NEW MEXICO - Nonmetropolitan Counties',
       'NEW YORK - Metropolitan Counties',
       'NEW YORK - Nonmetropolitan Counties',
       'NORTH CAROLINA - Metropolitan Counties',
       'NORTH CAROLINA - Nonmetropolitan Counties',
       'NORTH DAKOTA - Metropolitan Counties',
       'NORTH DAKOTA - Nonmetropolitan Counties',
       'OHIO - Metropolitan Counties', 'OHIO - Nonmetropolitan Counties',
       'OKLAHOMA - Metropolitan Counties',
       'OKLAHOMA - Nonmetropolitan Counties',
       'OREGON - Metropolitan Counties',
       'OREGON - Nonmetropolitan Counties',
       'PENNSYLVANIA - Metropolitan Counties',
       'PENNSYLVANIA - Nonmetropolitan Counties',
       'SOUTH CAROLINA - Metropolitan Counties',
       'SOUTH CAROLINA - Nonmetropolitan Counties',
       'SOUTH DAKOTA - Metropolitan Counties',
       'SOUTH DAKOTA - Nonmetropolitan Counties',
       'TENNESSEE - Metropolitan Counties',
       'TENNESSEE - Nonmetropolitan Counties',
       'TEXAS - Metropolitan Counties',
       'TEXAS - Nonmetropolitan Counties', 'UTAH - Metropolitan Counties',
       'UTAH - Nonmetropolitan Counties',
       'VERMONT - Metropolitan Counties',
       'VERMONT - Nonmetropolitan Counties',
       'VIRGINIA - Metropolitan Counties',
       'VIRGINIA - Nonmetropolitan Counties',
       'WASHINGTON - Metropolitan Counties',
       'WASHINGTON - Nonmetropolitan Counties',
       'WEST VIRGINIA - Metropolitan Counties',
       'WEST VIRGINIA - Nonmetropolitan Counties',
       'WISCONSIN - Metropolitan Counties',
       'WISCONSIN - Nonmetropolitan Counties',
       'WYOMING - Metropolitan Counties',
       'WYOMING - Nonmetropolitan Counties',
       '1 The figures shown in this column for the offense of rape were reported using the revised Uniform Crime Reporting (UCR) definition of rape. See the data declaration for further explanation.',
       '2 The figures shown in this column for the offense of rape were reported using the legacy UCR definition of rape. See the data declaration for further explanation.',
       '3 The FBI does not publish arson data unless it receives data from either the agency or the state for all 12 months of the calendar year.',
       '4 The Tulare County Highway Patrol collects the motor vehicle thefts for this county. These data can be found in Table 9. ',
       "5 The FBI determined that the agency's data were underreported. Consequently, those data are not included in this table.",
       '6  The FBI determined that the agency did not follow national UCR Program guidelines for reporting an offense. Consequently, this figure is not included in this table.  ',
       '7 This agency began the year submitting rape data classified according to the legacy UCR definition. However, at some point during the calendar year, the agency modified its reporting methods and began classifying and submitting rape offenses according to the revised UCR definition of rape. See the data declaration for further explanation.',
       "8 Because of changes in the state/local agency's reporting practices, figures are not comparable to previous years' data. ",
       "9 The FBI determined that the agency's data were overreported. Consequently, those data are not included in this table."],
      dtype=object)